[*.cs]

# CS0660: Тип определяет оператор == или оператор !=, но не переопределяет Object.Equals(object o)
dotnet_diagnostic.CS0660.severity = none

# CS0661: Тип определяет оператор == или оператор !=, но не переопределяет Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = silent

# IDE0060: Удалите неиспользуемый параметр
dotnet_code_quality_unused_parameters = all:silent
